body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upper-container {
  background-color: hsl(10, 79%, 65%);
  color: #fff;
  width: 400px;
  height: 80px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.main-container {
  margin-top: 15px;
  background-color: hsl(33, 100%, 98%);
  color: hsl(25, 47%, 15%);
  width: 400px;
  height: 375px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.line {
  border-bottom: 1px solid hsl(28, 10%, 53%);
  width: 350px;
  display: block;
  margin: 0 auto;
}
.sub-container {
  display: flex;
  justify-content: space-between;
}
.upper-text {
  margin-left: 15px;
  text-align: center;
  margin-top: 8px;
}
.bar {
  position: relative;
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-content: center;
}

p {
  margin-top: 1px;
  margin-bottom: 0;
}
.rectangle-mon,
.rectangle-tue,
.rectangle-wed,
.rectangle-thu,
.rectangle-fri,
.rectangle-sat,
.rectangle-sun {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: hsl(10, 79%, 65%);
  text-align: center;
  display: block;
  position: relative;
}
.rectangle-mon:hover,
.rectangle-tue:hover,
.rectangle-thu:hover,
.rectangle-fri:hover,
.rectangle-sat:hover,
.rectangle-sun:hover {
  background-color: #f0927f;
  cursor: pointer;
}
.rectangle-wed:hover {
  background-color: #91c4c9;
  cursor: pointer;
}
.rectangle-tue:hover::before {
  content: "$34.91";
}
.rectangle-mon:hover::before {
  content: "$17.45";
}
.rectangle-wed:hover::before {
  content: "$52.36";
}
.rectangle-thu:hover::before {
  content: "$31.07";
}
.rectangle-fri:hover::before {
  content: "$23.39";
}
.rectangle-sat:hover::before {
  content: "$43.28";
}
.rectangle-sun:hover::before {
  content: "$25.48";
}

.rectangle-mon:hover::before,
.rectangle-tue:hover::before,
.rectangle-wed:hover::before,
.rectangle-thu:hover::before,
.rectangle-fri:hover::before,
.rectangle-sat:hover::before,
.rectangle-sun:hover::before {
  position: absolute;
  bottom: 120%;
  right: 5%;
  opacity: 100%;
  background-color: hsl(25, 47%, 15%);
  color: #fff;
  height: 20px;
  width: 30px;
  font-size: 10px;
  padding: 2px 5px;
  text-align: center;
  border: 0.5px solid transparent;
  border-radius: 2px;
}
.mon,
.tue,
.wed,
.thur,
.fri,
.sat,
.sun {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  text-align: center;
  font-size: 15px;
}

.rectangle-mon {
  width: 35px;
  height: 40px;
}
.rectangle-tue {
  width: 35px;
  height: 65px;
}
.rectangle-wed {
  width: 35px;
  height: 140px;

  background-color: hsl(186, 34%, 60%);
}
.rectangle-thu {
  width: 35px;
  height: 65px;
}
.rectangle-fri {
  width: 35px;
  height: 50px;
}
.rectangle-sat {
  width: 35px;
  height: 100px;
}
.rectangle-sun {
  width: 35px;
  height: 60px;
}
.balance {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}
.amount {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}
.logo {
  margin-top: 1rem;
  margin-right: 1rem;
}
.spending-heading {
  font-size: 20px;
  margin-left: 1rem;
}
.total-txt,
.increase-txt {
  font-size: 12px;
  color: hsl(28, 10%, 53%);
}
.total-interest {
  font-weight: 700;
}

.box p {
  color: hsl(28, 10%, 53%);
}
.total-number {
  font-size: 25px;
  font-weight: 700;
}
.sub-container {
  margin-left: 20px;
}
.increase {
  margin-right: 20px;
  margin-top: 8px;
  text-align: right;
}

@media (max-width: 376px) {
  .main {
    position: absolute;
    top: 50%;
    right: -30%;
    left: 45%;
  }
  .upper-container {
    width: 350px;
    justify-content: center;
    gap: 10rem;
  }
  .main-container {
    width: 350px;
  }
} ;
